
/* Cell Highlighting */

/* 
#highlight td {
    background-color: #c1ffc3 !important;
}
*/

#highlight td.range-low {
    background-color: #ffffff !important;
    color: #ffffff !important;
}

#highlight td.range-red {
    background-color: #ff9999 !important;
    color: #000000 !important;
}

#highlight td.range-green {
    background-color: #99ff99 !important;
    color: #000000 !important;
}

#highlight td.range-blue {
    background-color: #99c2ff !important;
    color: #000000 !important;
}


#highlight td.range-alert {
    background-color: #ff0000 !important;
    color: #ffffff !important;
}

