
/* Cell Highlighting */

/* 
#highlight2 td {
    background-color: #c1ffc3 !important;
}
*/

#highlight2 td.range-low {
    background-color: #ffffff !important;
    color: #ffffff !important;
}

#highlight2 td.range-red {
    background-color: #d6563c !important;
    color: #000000 !important;
}

#highlight2 td.range-green {
    background-color: #a2cc3e !important;
    color: #000000 !important;
}

#highlight2 td.range-blue {
    background-color: #1e93c6 !important;
    color: #000000 !important;
}

#highlight2 td.range-orange {
    background-color: #ed8440 !important;
    color: #000000 !important;
}

#highlight2 td.range-alert {
    background-color: #ff0000 !important;
    color: #ffffff !important;
}
